/*header*/

header {
    background: $background-color;
    text-align: center;
    font-family: $font-family;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4em;
    >* {
        display: flex;
        align-items: center;
    }
    >a {
        font-size: 34px;
        font-weight: 700;
    }
    a {
        text-decoration: none;
        color: #334252;
        span {
            width: 34px;
            height: 34px;
            display: inline-block;
            background: $primary-color;
            line-height: 34px;
            color: #fff;
            border-radius: 6px;
            text-align: center;
        }
    }
    li {
        width: 60px;
        list-style: none;
    }
}

ul li:after {
    content: '';
    height: 2px;
    background-color: $primary-color;
    display: block;
    width: 0;
    margin: 5px auto;
    transition: width .5s
}

li:hover:after {
    width: 100%
}